.card{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: var(--white);
    margin-bottom: 2em;
    padding-top: 0.5em;
}
.cardtitle{
    font-weight: 300;
    color: var(--grey);
    font-size: 1rem;
    font-display: swap;
}
.datetime{
    font-weight: 400;
    color: var(--black);
    font-size: 2rem;
    font-display: swap;
}
.infoblock{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 0.4em;
}
.infotext{
    font-weight: 300;
    color: var(--grey);
    font-size: 1rem;
    font-display: swap;
}
.btn{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    text-align: center;
    background: #B53C3CE8;
    font-weight: 400;
    color: var(--white);
    font-size: 1rem;
    font-display: swap;
}