.servicegallery {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10em;
}
.servicecard {
  width: 150px;
  height: fit-content;
  border: 1px solid var(--primary);
  border-radius: 10%;
  text-align: center;
  margin: 1em 2em;
}
.servicecard:hover,
.servicecard:active {
  cursor: pointer;
  animation: service-info 0.3s ease-out 1 forwards;
}
.servicecard:hover .serviceinfo {
  animation: service-info-fadein 0.3s ease-out 1 forwards;
  animation-delay: 0.1s;
  display: block;
  opacity: 0;
  padding-left: 0.2rem;
  margin-top: 0;
}
.serviceinfo {
  display: none;
}
@keyframes service-info-fadein {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes service-info {
  0% {
    width: 150px;
  }
  100% {
    height: fit-content;
    width: 300px;
  }
}
@media (max-width: 450px) {
  .servicegallery {
    display: grid;
    grid-template-columns: auto;
  }

  .serviceinfo {
    display: block;
  }
  .servicecard {
    width: 95%;
    height: fit-content;
    border: 1px solid var(--primary);
    border-radius: 10%;
    text-align: center;
    margin: 1em 2em;
  }
  .servicecard:hover,
  .servicecard:active {
    animation: none;
  }
  .servicecard:hover .serviceinfo {
    animation: none;
    animation-delay: none;
    display: block;
    opacity: 1;
    padding-left: 0rem;
    margin-top: 0;
  }
}
@media (min-width: 961px) {
  .servicegallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media (min-width: 1367px) {
  .servicegallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}
