@import "variables.css";
@import url("https://use.typekit.net/jii0wes.css");

body{
  background: #F3F1F4;
  margin: 0;
  overflow-x: hidden;
  font-family: oswald, sans-serif;
}

img{
  height:100%;
  width: 100%;
  z-index: -1;
}

#service-img{
  height:70px;
  width: 36px;
  object-fit:contain;
  margin-left: auto;
  margin-right: auto;
}

.container{
  margin-top: 3.75em;
  margin-bottom: 12em;
}
.watermark{
  position: absolute;
  font-weight: 400;
  color: var(--primary);
  font-size: 5rem;
  opacity: 0.05;
  z-index: -1;
}

.info{
  margin: 0em 3.5em 0em 3.5em;
  padding-top: 1em;
}

.h1{
  font-weight: 400;
  color: var(--primary);
  font-size: 2.5rem;
}

.h2{
  font-weight: 400;
  color: var(--primary);
  font-size: 1.5rem;
}

.body-light-light{
  color: var(--tertiary);
  font-weight: 300;
}

.body-light{
  color: var(--primary);
  font-weight: 300;
}

.btn{
  margin-top: 1em;
  border: 1px solid var(--primary);
  background: var(--tertiary) 0% 0% no-repeat padding-box;
  padding: 0.5rem;
  width: 170px;
  border-radius: 50px;
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

#cta-btn{
  cursor: pointer;
}

#cta-btn:hover{
  opacity: 0.9;
}

.gallery-grid{
  display: grid;
  grid-template-columns: 8rem 8rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: 0px;
  margin-top:2em;
  justify-content: center;
  align-content: center;
}

.pic{
  background-color: var(--primary);
}

.pic2{
  background: var(--watermark);
  border: 1px solid var(--primary);
}

.book-now{
  display: none;
}

.contact-us{
  margin: 3.5em 3.5em 0 3.5em;
}
.gallery{
  margin: 3.5em 3.5em 0 3.5em;
}

.contact-us-p{
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 0.2em;
}

.maps{
  width: 300px;
  height: 200px;
  border: 3px solid var(--primary);
}

.maps-location{
  text-align: center;
  margin-top: 1em;
}

.mobile-no .contact-us-img{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  z-index: -1;
  width: 30px;
  height: 50px;
}

.email-id .contact-us-img{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  z-index: -1;
  width: 70px;
  height: 40px;
}

.about-the-doctors{
  display: none;
}

.mobile-no{
  text-align: center;
}

.email-id{
  text-align: center;
}

.h4{
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  color: var(--primary);
}

footer{
  background: var(--primary);
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  width: 100vw;
  margin-bottom: -1em;
}

.primary-footer-ul{
  list-style-type: none;
  display: grid;  
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.primary-footer-ul li{
  margin: -0.4em;
}

.footer-item{
  color: var(--white);
  cursor: pointer;
  
}

.logo{
  display: none;
}

#login{
  display: none;
}

#dashboard{
  display: none;
}

#book-now{
  display: none;
}

.secondary-footer-ul{
  display: none;
}

.go-up{
  display: none;
}

.copyrights-div{
  display: block;
  background:var(--tertiary);
  text-align: center;
}

#body-white{
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bg-blur{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background: var(--bg-blur);
}

.login-popup{
  display: block;
  margin-left: auto;
  margin-top: calc(50vh - 200px);
  margin-right: auto;
  max-width: 375px;
  height: 400px;
  background: var(--login-bg);
  border: 1px solid var(--primary);
  padding: 1em;
  z-index: 1;
  text-align: center;
}

#login-logo{
  float: left;
  padding-top: 0.2em;
}

#exit{
  float: right;
  margin-right: 0.2em;
  margin-top: 0.2em;
  cursor: pointer;
}

.login-h1{
  font-weight: 400;
  color: var(--primary);
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.input-group{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: center;
}

.input-groups{
  margin-bottom: auto;
  margin-top: auto;
}

.input-label{
  display: block;
  float: left;
  margin-bottom: 0;
  margin-left: 1rem;
  font-size: 1.25rem;
  color: var(--primary);
  margin-top: 1em;
}

.icon-label {
  padding: 0.8rem;
  background: var(--white);
  min-width: 50px;
  border-radius: 50px 0 0 50px;
  border: 1px solid var(--primary);
  font-size: 1.5rem;
  color: var(--primary);
  text-align: center;
}

input{
  max-width: calc(100% - 50px);
  margin: 0;
  border-radius: 0 50px 50px 0; 
  border: 1px solid var(--primary);
  font-size: 1.5rem;
  padding: 0.8rem;
  font-family:  oswald, sans-serif;
}

#login-btn{
  width: 235px;
  height: 2rem;
  margin-left: calc(50% - 235px/2);
  margin-top: 3rem;
  cursor: pointer;
  opacity: 0.9;
  padding-top: 0.75rem;
  font-size: 1.25rem;
}

#login-btn:hover{
  opacity:1
}

#password-label{
  margin-top: 1em;
}

.forgotpassword-text{
  display: block;
  float: left;
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1.25rem;
  color: var(--primary);
}

.doctor-toggle{
  text-align: center;
}

.toggle-logo{
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid var(--primary);
  padding: 0.6em;
  margin: 0.5em;
  width: 77px;
  height: 77px;
  text-align: center;
}

.skin-toggle-logo{
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
  height: 40px;
  width: 36px;
  position: relative;
}

.ortho-toggle-logo{
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
  height: 50px;
  width: 36px;
  position: relative;
}

.active-logo{
  z-index: -1;
  border: 10px solid var(--primary);
  padding: 0.2em;
}

#next-img{
  transform: rotate(180deg);
}

.about_the_doctors{
  display: block;
  text-align: center;
  margin: 0em 3.5em
}

.docs-img{
  border: 1px solid var(--primary);
  border-radius: 50%;
}

#doc-img{
  display: block;
  z-index: -1;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid var(--primary);
  margin: 0.5em;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

#doc-name{
  margin-bottom: 0.3em;
}

.h4-light{
  font-weight: 300;
  color: var(--primary);
  font-size: 1.5rem;
  margin-top: 0;
}

#next-img{
  display: inline-block;  
  vertical-align: middle;
}

#prev-img{
  display: inline-block;
  vertical-align: middle;
}

.service-gallery{
  text-align: center;
}

.service-card{
  display:inline-block;
  position: relative;
  width: 150px;
  height: 120px;
  border: 1px solid var(--primary);
  border-radius: 10%;
  text-align: center;
  margin:1em 2em;
  z-index: -1;
}

.service-card p{
  margin-top: 0.2em;
}

.gallery-img{
  border-radius: 10%;
}

.small-text{
  color: var(--primary);
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.services{
  display: block;
  text-align: center;
}

.services-carousel{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
}

.services-group{
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.next-btn{
  transform: rotate(180deg);
  position: relative;
  cursor: pointer;
  z-index: -1;
}

.more-services{
  text-decoration: underline;
  margin-top: 0.5em;
  cursor: pointer;
}

.service{
  width: 150px;
  height: 120px;
  border: 1px solid var(--primary);
  border-radius: 10%;
  text-align: center;
  margin:0 2em;
}

#service-img-card{
  box-sizing: inherit;
  height: 60%;
  margin-bottom: 0s;
}

@media (min-width:961px){
  .maps{
    width: 500px;
    height: 300px;
    border: 3px solid var(--primary);
  }
  .container{
    margin-top: 6em;
    margin-bottom: 0em;
  }
  .info{
    display: grid;
    margin-top: 2em;
    grid-template-columns: 60% 40%;
  }
  .contact-us{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .book-now{
    display: block;
    margin: 0em 3.5em;
  }

  .cta-book-now{
    border: 1px solid var(--primary);
    border-radius: 70px;
    background: var(--tertiary);
    padding: 0.5rem;
    width: 10em;
    text-align: center;
    display: inline-block;
    margin-left: 2em;
  }
  
  .primary-footer-ul{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #login{
    display: block;
  }
  #dashboard{
    display: block;
  }
  #book-now{
    display: block;
  }
  footer{
    display: block; 
    position: static;
    text-align: center;
    width: 100%;
  }
  .primary-footer-ul li p{
    margin:0.5em;
    font-size: 0.9rem;
  }
  .secondary-footer-ul{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: 1em;
    list-style-type: none;
  }
  .secondary-footer-ul li{
    margin:0.5em;
  }
  .secondary-footer-ul li p{
    display: inline;
    font-size: 0.9rem;
    color:var(--white);
  }
  .maps-location{
    display: inline-block;
    width: 380px;
  }
  .go-up{
    display: inline-block;
    text-align: left;
  }
  .about-the-doctors{
    display: block;
    margin: 2em 3.5em;
  }
  .doctor-block{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    align-items: center;
    justify-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
  }
  .img-rounded{
    border-radius: 50%;
  }
  .doc-pic{
    z-index: -1;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    height: 200px;
    width: 200px;
  }
  .last-service{
    display: inline-block;
    margin: 0.2em;
  }
  .next-service{
    display: inline-block;
    margin: 0.2em;
  }
  .service-controls{
    height:50px;
    width: 50px;
    vertical-align: middle;
    z-index: -1;
    cursor: pointer;
  }
  .service-controls:hover{
    cursor: pointer;
  }
  #doctor-info-p{
    margin: 2em 5em;
  }
  #login-item{
    margin-left: 17em;
  }
}
@media (min-width:1367px){
  .container{
    margin-top: 6em;
    width:1366px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 0em;
  }
}

@media (max-width:412px){
  .login-popup{
    width: 80%;
    text-align: center;
  }

}